.forgot_container {
    width: 100%;
    height: 750px;
    /* background-color: aqua; */
    background-image: url('../images/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    overflow-y: hidden;
}

.forgot_box1 {
    width: 30%;
    height: 55%;
    /* border: 1px solid; */
    margin: 100px 0px 0px 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
    padding: 20px;
    /* margin-top: 20px; */
}
.forgot_box2{
    /* border: 1px solid; */

    & form{
        /* border: 1px solid; */
    }
    .form{
        width: 100%;
    }
    & input{
        width: 410px;
    }
    & label{
        width: 100%;
    }
}

.forgot_img {
    width: 40%;
    height: 20%;
    /* border: 1px solid; */
    margin: 10px auto 0px auto;

    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}

.forgot_title {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    text-align: center;
}

.forgot_btn{
    width: 100%;
    margin-top: 20px;
    height: 40px;
    border: none;
    background: #5C218B;
    color: white;
    border-radius: 8px;
}
